
header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-loc {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
}

.title-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.txt-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}