@use "../sass/utils/variables" as vars;
@use "../sass/layouts/loader";
@use "../sass/utils/mixins" as mixins;
@use "../sass/layouts/footer";

*  {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: vars.$background-color-1;
    margin: 0;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 18px;
    width: 100%;
    background-color: vars.$background-color-2;

    & a img {
       width: 150px;
       margin-bottom: 20px;
    }
}


.icon-loc {
    margin-right: 15px;
    color: black;
}

.title-intro {
    margin-top: 125px;
    font-size: 24px;
}

.txt-intro{
    margin-top: 10px;
    font-size: 18px;
}

.text-loc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eaeaea;
    width: 100%;
    margin-top: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
    @include mixins.shadow;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.btn-resto {
    border: none;
    border-radius: 25px;
    color: white;
    background: vars.$btn-background;
    width: 218px;
    height: 50px;
    font-size: 16px;
    @include mixins.shadow;
        &:hover{
            opacity: 0.85;
            transition: all 0.2s ease-in-out;
        }
}


.fonct {
    padding-top: 20px;
    margin-top: 50px;
    background-color: vars.$background-color-2;
    width: 100%;
    height: 420px;
    
    .btn-container {
        display: grid;
        gap: 20px;
}

    .choice-btn {
        display: grid;
        grid-template-columns: auto 1fr;
        border: none;
        width: 90%;
        height: 75px;
        align-items: center;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        font-size: 16px;
        @include mixins.shadow;
}

    .fa-solid {
        opacity: 0.8;
        &:hover {
            opacity: 1;
            background-clip: text;
            background-color: vars.$primary-color;
        }
        
    }

    .icon-fonct {
        justify-self: center;
        margin-right: -60px;
        font-size: 20px;
        color: #7e7e7e;
            &:hover {
                opacity: 2;
                color: vars.$primary-color;
                transition: 5ms;
         }
}
    .number {
        color: white;
        background-color: vars.$primary-color;
        position: absolute;
        border-radius: 50px;
        padding: 4px 8px 4px 8px;
        margin-left: -20px;
        font-size: 13px;
    }
}
    



.title-h2 {
    margin-left: 15px;
}



.card-container {
    
        margin-bottom: 50px;
        margin-top: 55px;
    
    h3 {
        margin-top: 200px;
        position: relative;
        margin-left: 15px;
        line-height: 0px;
        font-size: 18px;
}

    .__new {
        background-color: vars.$tertiary-color;
        padding: 0.5rem;
        border-radius: 0.125rem;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
        font-size: 14px;
        color: #008766;
    }

    i {
        position: absolute;
        margin-top: 165px;
        margin-right: 20px;
        font-size: 25px;
        top: 10%;
        right: 0%;
        
        &.fa-solid  {
        opacity: 0;
        &:hover {
            opacity: 1;
            color: transparent;
            background-clip: text;
            background-image: vars.$btn-background;
            animation: fadeInn 1s , fadeOutt 1s 2s;
        }

    }
    @keyframes fadeInn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOutt {
        0% {
            opacity: 2;
            
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    &:not(.fa-solid:hover) {
        animation: fadeOut 1s backwards;
    }
    }

    
    

    .card {
        background-color: white;
        height: 250px;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
        margin-left: 10px;
        margin-right: 8px;
        overflow: hidden;
        position: relative;
}
    .vertical-image h3 {
        margin-top: 196px;
    }

    .vertical-image img {
        width: 100%;
        height: 92%;
        left: 0;
}
    img{
        width: 101%;
        height: 230px;
        position: absolute;
        top: -57px;
        left: -3px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
}
    .card-resto {
        display: grid;
        gap: 20px;
}

    p {
        margin-left: 15px;
        line-height: 15px;
        font-size: 17px;
    }
}

footer {
    top: 250%;
}

/***** MEDIA QUERIES ******/                                                                 /**** TABLETTE ****/

@media(min-width: 768px){

    body {
        margin: 0;
    }

    .break-word {
        display: none;
    }

    header a img {
        width: 200px;
        height: 35px;
    }

    .text-loc {
        margin-top: 80px;
        padding: 12px;
    }

    .intro {
        padding-top: 50px;

        & .title-intro {
            font-size: 40px;
        }
    }

    .fonct {
        height: 240px;
        padding-bottom: 400px;
    }

    .btn-container {
        display: grid;
        gap: 30px;
        padding-left: 100px;
        padding-right: 125px;

        & .choice-btn {
        display: grid;
        grid-template-columns: auto 1fr ;
        border: none;
        width: 60%;
        border-radius: 20px;
        font-weight: bold;
        white-space: nowrap;
        }

        & .icon-fonct {
            margin-left: 10px;
        }
    }

    .title-h2 {
        margin-left: 90px;
        margin-bottom: 35px;
    }

    .card-resto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 91%;
        padding-left: 80px;
    }

}

@media(min-width: 1024px) {                                                                   /**** DESKTOP ****/

    body {
        margin: 0;
        width: 100%;
    }

    .break-word {
        display: none;
    }

    header a img {
        width: 200px;
        height: 35px;
    }

    .text-loc {
        margin-top: 80px;
        padding: 12px;
    }

    .intro {
        padding-top: 50px;

        & .title-intro {
            font-size: 40px;
        }
    }

    .fonct {
        padding-bottom: 25%;
    
    .btn-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding-left: 90px;
        padding-right: 160px;

        & .choice-btn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: none;
        width: 265px;
        height: 75px;
        border-radius: 20px;
        font-weight: bold;
        white-space: nowrap;
        }

        & .icon-fonct {
            margin-left: -60px;
        }
    }
}
    .title-h2 {
        margin-left: 70px;
        margin-bottom: 35px;
    }

    .card-resto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 94%;
        padding-left: 60px;
    }

}

@media(min-width: 1440px) {

    body {
        margin: 0;
    }

    .break-word {
        display: none;
    }

    header a img {
        width: 200px;
        height: 35px;
    }

    .text-loc {
        margin-top: 80px;
        padding: 12px;
    }

    .intro {
        padding-top: 50px;

        & .title-intro {
            font-size: 40px;
        }
    }

    .fonct {
        height: 150px;
    }

    .btn-container {
        margin-left: 100px;
        padding-right: 120px;

        & .choice-btn {
        width: 95px;
        }

        & .icon-fonct {
            margin-left: -80px;
        }
    }

    .btn-resto {
        border: none;
        border-radius: 25px;
        color: white;
        background: vars.$btn-background;
        width: 218px;
        height: 50px;
        font-size: 16px;
            &:hover{
                opacity: 0.85;
                transition: all 0.2s ease-in-out;
            }
    }

    .title-h2 {
        margin-left: 160px;
        margin-bottom: 35px;
    }

    .card-resto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        padding-left: 150px;
    }


}