.footer-main {
  position: relative;
  top: 16px;
  left: 0;
  background-color: #353535;
  width: 100%;
}
.footer-main .logo-footer {
  margin-top: 20px;
  margin-left: 25px;
  width: 100px;
  filter: brightness(100);
}
.footer-main ul {
  list-style-type: none;
}
.footer-main li {
  margin-left: -15px;
  padding-bottom: 10px;
  filter: brightness(100);
  font-weight: bold;
}
.footer-main i {
  margin-right: 10px;
}
.footer-main a {
  text-decoration: none;
}
.footer-main .info {
  gap: 20px;
}

@media (min-width: 768px) {
  .footer-main {
    top: 50px;
  }
}
@media (min-width: 1024px) {
  .footer-main ul {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 200px;
    margin-top: 30px;
  }
  .footer-main .logo-footer {
    margin-left: 88%;
    margin-bottom: -51px;
  }
}
@media (min-width: 1440px) {
  .footer-main ul {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 330px;
    margin-top: 30px;
  }
  .footer-main .logo-footer {
    margin-left: 90%;
    margin-bottom: -51px;
  }
}
/******************* FOOTER RESTAURANTS *****************************/
.footer-resto {
  position: relative;
  top: 1238px;
  left: 0;
  background-color: #353535;
  width: 100%;
}
.footer-resto .logo-footer {
  margin-top: 20px;
  margin-left: 25px;
  width: 100px;
  filter: brightness(100);
}
.footer-resto ul {
  list-style-type: none;
}
.footer-resto li {
  margin-left: -15px;
  padding-bottom: 10px;
  filter: brightness(100);
  font-weight: bold;
  text-decoration: none;
}
.footer-resto i {
  margin-right: 10px;
}
.footer-resto a {
  text-decoration: none;
}
.footer-resto .info {
  gap: 20px;
}

.footer-note {
  position: absolute;
  left: 0;
  background-color: #353535;
  width: 100%;
  top: 105rem;
}
.footer-note .logo-footer {
  margin-top: 20px;
  margin-left: 25px;
  width: 100px;
  filter: brightness(100);
}
.footer-note ul {
  list-style-type: none;
}
.footer-note li {
  margin-left: -15px;
  padding-bottom: 10px;
  filter: brightness(100);
  font-weight: bold;
  text-decoration: none;
}
.footer-note i {
  margin-right: 10px;
}
.footer-note a {
  text-decoration: none;
}
.footer-note .info {
  gap: 20px;
}

@media (min-width: 768px) {
  .footer-resto {
    top: 1220px;
  }
  .footer-note {
    top: 117rem;
  }
}
@media (min-width: 1024px) {
  .footer-resto {
    top: 1360px;
  }
  .footer-resto ul {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 200px;
    margin-top: 30px;
  }
  .footer-resto .logo-footer {
    margin-left: 88%;
    margin-bottom: -51px;
  }
  .footer-note {
    top: 120rem;
  }
  .footer-note ul {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 200px;
    margin-top: 30px;
  }
  .footer-note .logo-footer {
    margin-left: 88%;
    margin-bottom: -51px;
  }
}
@media (min-width: 1440px) {
  .footer-resto {
    position: relative;
    top: 1400px;
    left: 0;
    background-color: #353535;
    width: 100%;
  }
  .footer-resto ul {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 330px;
    margin-top: 30px;
  }
  .footer-resto .logo-footer {
    margin-left: 90%;
    margin-bottom: -51px;
  }
  .footer-resto .icon .fa-utensils {
    position: absolute;
    right: 170px;
    justify-content: space-around;
  }
  .footer-note {
    top: 125rem;
  }
}
/***** HEART *****/
@keyframes fadeInn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutt {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInnn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/** EFFET APPARITION MENU **/
@keyframes menu-list {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  20% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*** LOADER ***/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  width: 100%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header a img {
  width: 150px;
  margin-bottom: 10px;
}
header .arrow {
  position: absolute;
  top: 18px;
  left: 18px;
  color: #353535;
  font-size: 18px;
  text-decoration: none;
}

.image {
  height: 330px;
  width: 100%;
  object-fit: contain;
}

.image-note {
  object-fit: cover;
  height: 500px;
  width: 100%;
}

.title h1 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem; /*** 30px***/
  font-family: "shrikhand";
  font-style: italic;
  font-weight: 580;
  margin-left: -30px;
}

.heart { /*** ANIMATION HEART ***/
  position: absolute;
  font-size: 1.6rem;
  top: 3.2%;
  left: 40vw;
}
.heart .fa-solid {
  opacity: 0;
}
.heart .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  animation: fadeInn 1s, fadeOutt 1s 2s;
}
.heart:hover .fa-solid {
  animation: fadeInn 1s;
}
.heart:not(:hover) .fa-solid {
  animation: fadeOutt 1s backwards;
  color: #9356Dc;
}

.subtitle {
  padding-top: 40px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 300;
  border-bottom: #99E2D0 solid 3px;
  width: 41px;
}

.bloc-menu {
  position: absolute;
  top: 220px;
  border-radius: 45px 35px 0 0;
  background-color: #F6F6F6;
  width: 100%;
  height: 85rem;
}
.bloc-menu.bloc-note {
  height: 92rem;
}
.bloc-menu .menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
}
.bloc-menu .menu .menu-content {
  border-radius: 15px;
  background-color: #ffffff;
  width: 90%;
  height: 75px;
  margin-left: 15px;
  margin-bottom: 15px;
  line-height: 15px;
  padding-top: 20px;
  padding-left: 10px;
  animation: menu-list 0.5s ease both;
  overflow: hidden;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.2509803922);
}
.bloc-menu .menu .menu-content h3 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  width: 75%;
  text-overflow: ellipsis;
  margin: 0;
  overflow: hidden;
}
.bloc-menu .menu .menu-content p {
  white-space: nowrap;
  overflow: hidden;
  line-height: 15px;
  width: 70%;
  text-overflow: ellipsis;
  font-size: 15px;
  letter-spacing: 0.03em;
  font-weight: 300;
}
.bloc-menu .menu .menu-content .animation { /*** ANIMATION VALIDATION DE PLAT ***/
  position: absolute;
  background-color: #99E2D0;
  color: white;
  height: 75px;
  font-size: 20px;
  padding: 22.5px 20px;
  border-radius: 0 15px 15px 0;
  right: 0;
  top: 0;
  transform: translateX(60px);
  transition: all 0.5s ease-in-out;
  transition-delay: 0s;
}
.bloc-menu .menu .menu-content .check-sign {
  padding-top: 7px;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}
.bloc-menu .menu .menu-content:hover {
  cursor: pointer;
}
.bloc-menu .menu .menu-content:hover .text__price {
  margin-left: -60px;
}
.bloc-menu .menu .menu-content:hover .animation {
  transform: translateX(0);
}
.bloc-menu .menu .menu-content .text__price {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 72%;
  bottom: 45px;
  transition: all 0.5s ease-in-out;
}
.bloc-menu .menu .menu-content:nth-child(2) { /** EFFET APPARITION MENU **/
  animation: menu-list 3s ease both 0.5s;
}
.bloc-menu .menu .menu-content:nth-child(3) {
  animation: menu-list 3s ease both 1s;
}
.bloc-menu .menu .menu-content:nth-child(4) {
  animation: menu-list 3s ease both;
  animation-delay: 1.6s;
}
.bloc-menu .menu .menu-content:nth-child(5) {
  animation: menu-list 3s ease both;
  animation-delay: 1.9s;
}

.menu-content .lower-opacity {
  animation-delay: 2s;
  opacity: 0.2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-resto {
  position: relative;
  border: none;
  border-radius: 25px;
  margin-top: 80px;
  margin-bottom: 120px;
  color: white;
  background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  width: 218px;
  height: 50px;
  font-size: 16px;
}
.btn-resto:hover {
  opacity: 0.85;
  transition: all 0.2s ease-in-out;
}

.btn-note {
  bottom: 20%;
}

@media screen and (min-width: 768px) { /*** TABLETTE ***/
  header .arrow {
    position: absolute;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .heart {
    top: 4%;
    left: 34vw;
  }
  .title h1 {
    margin-left: -40px;
    font-size: 30px;
  }
  .image {
    object-fit: cover;
    height: 500px;
  }
  .bloc-menu {
    width: 100%;
    top: 400px;
    padding-left: 45px;
  }
  .bloc-menu .menu-content {
    border-radius: 15px;
    background-color: #ffffff;
    width: 500px;
    height: 70px;
    margin-left: 120px;
    line-height: 8px;
    padding-top: 2px;
    padding-left: 10px;
    margin-bottom: 12px;
  }
  .text__price {
    margin-left: 55px;
  }
  .btn-resto {
    margin-right: 45px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) { /*** DESKTOP ***/
  .heart {
    left: 28vw;
  }
  .bloc-menu {
    width: 80%;
    height: 90rem;
    margin-top: 50px;
    margin-left: 100px;
  }
  .bloc-menu .menu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
  }
  .bloc-menu .menu-4 {
    padding-bottom: 20px;
  }
  .text__price {
    margin-left: 35px;
  }
  .btn-resto {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) and (min-width: 1440px) { /*** LARGE DESKTOP ***/
  .image {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  .title h1 {
    padding-top: 20px;
  }
  .heart {
    position: absolute;
    left: 66%;
    top: 3.8%;
  }
  .subtitle {
    font-size: 18px;
  }
  .bloc-menu {
    padding-left: 90px;
    margin-left: 210px;
    position: absolute;
    top: 400px;
    border-radius: 45px 35px 0 0;
    background-color: #F6F6F6;
    width: 70%;
    height: 92rem;
  }
  .bloc-menu.bloc-note {
    height: 98rem;
  }
  .bloc-menu .menu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
  }
  .bloc-menu .menu-content {
    margin-top: 10px;
  }
  .text__price {
    margin-left: 46px;
  }
  .btn-resto {
    margin-right: 80px;
    margin-bottom: 100px;
  }
  .btn-note {
    bottom: 30px;
  }
}/*# sourceMappingURL=restaurants.css.map */