* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F6F6F6;
  margin: 0;
}

.shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  width: 100%;
  background-color: #ffffff;
}

.icon-loc {
  margin-right: 15px;
  color: black;
}

.title-intro {
  margin-top: 125px;
  font-size: 24px;
}

.txt-intro {
  margin-top: 10px;
  font-size: 18px;
}

.text-loc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eaeaea;
  width: 100%;
  margin-top: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-resto {
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(357deg, #936ADC 0%, #FF79DA 100%);
  width: 218px;
  height: 50px;
  font-size: 16px;
}
.btn-resto:hover {
  opacity: 0.85;
  transition: all 0.2 ease-in-out;
}

.btn-container {
  display: grid;
  gap: 20px;
}

.fonct {
  padding-top: 20px;
  margin-top: 50px;
  background-color: #ffffff;
  width: 100%;
  height: 420px;
}

.title-h2 {
  margin-left: 15px;
}

.choice-btn {
  display: grid;
  grid-template-columns: auto 1fr;
  border: none;
  width: 330px;
  height: 75px;
  align-items: center;
  border-radius: 20px;
  opacity: 0px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
}

.icon-fonct {
  justify-self: center;
  margin-right: -90px;
  font-size: 20px;
  color: #7e7e7e;
}

.card-container {
  margin-bottom: 50px;
  margin-top: 55px;
}
.card-container h3 {
  margin-top: 200px;
  position: relative;
  margin-left: 15px;
  line-height: 0px;
  font-size: 18px;
}
.card-container i {
  position: absolute;
  margin-top: 165px;
  margin-right: 20px;
  font-size: 25px;
  top: 10%;
  right: 0%;
}
.card-container .fa-solid {
  opacity: 0;
}
.card-container .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(357deg, #936ADC 0%, #FF79DA 100%);
}
.card-container .card {
  background-color: white;
  height: 250px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
  margin-left: 10px;
  margin-right: 8px;
  overflow: hidden;
  position: relative;
}
.card-container .vertical-image h3 {
  margin-top: 196px;
}
.card-container .vertical-image img {
  width: 100%;
  height: 92%;
  left: 0;
}
.card-container img {
  width: 101%;
  height: 230px;
  position: absolute;
  top: -57px;
  left: -3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.card-container .card-resto {
  display: grid;
  gap: 20px;
}
.card-container p {
  margin-left: 15px;
  padding-top: -15px;
  line-height: 8px;
  font-size: 17px;
}

footer {
  position: relative;
  top: 16px;
  left: 0;
  background-color: #353535;
  width: 100%;
}
footer .logo-footer {
  margin-top: 20px;
  margin-left: 25px;
  width: 100px;
  filter: brightness(100);
}
footer ul {
  list-style-type: none;
}
footer li {
  margin-left: -15px;
  padding-bottom: 10px;
  filter: brightness(100);
  font-weight: bold;
}
footer i {
  margin-right: 10px;
}
footer a {
  text-decoration: none;
}
footer .info {
  gap: 20px;
}/*# sourceMappingURL=style.css.map */