/***** HEART *****/
@keyframes fadeInn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutt {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInnn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/** EFFET APPARITION MENU **/
@keyframes menu-list {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  20% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*** LOADER ***/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.loader-content {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  top: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  /*margin: 100px auto 0;*/
  z-index: 9999;
  animation: fadeOut 2s forwards;
}
.loader-content .loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: blueviolet;
  animation: spin 2s linear infinite;
  animation-delay: 20ms;
}
.loader-content .loader::before, .loader-content .loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}
.loader-content .loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: rgb(192, 108, 125);
  animation: spin 3s linear infinite;
}
.loader-content .loader::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: rgb(192, 108, 125);
  animation: spin 1.5s linear infinite;
}

.footer-main {
  position: relative;
  top: 16px;
  left: 0;
  background-color: #353535;
  width: 100%;
}
.footer-main .logo-footer {
  margin-top: 20px;
  margin-left: 25px;
  width: 100px;
  filter: brightness(100);
}
.footer-main ul {
  list-style-type: none;
}
.footer-main li {
  margin-left: -15px;
  padding-bottom: 10px;
  filter: brightness(100);
  font-weight: bold;
}
.footer-main i {
  margin-right: 10px;
}
.footer-main a {
  text-decoration: none;
}
.footer-main .info {
  gap: 20px;
}

@media (min-width: 768px) {
  .footer-main {
    top: 50px;
  }
}
@media (min-width: 1440px) {
  .footer-main ul {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 330px;
    margin-top: 30px;
  }
  .footer-main .logo-footer {
    margin-left: 90%;
    margin-bottom: -51px;
  }
}
/******************* FOOTER RESTAURANTS *****************************/
.footer-resto {
  position: absolute;
  top: 180%;
  left: 0;
  background-color: #353535;
  width: 100%;
}
.footer-resto .logo-footer {
  margin-top: 20px;
  margin-left: 25px;
  width: 100px;
  filter: brightness(100);
}
.footer-resto ul {
  list-style-type: none;
}
.footer-resto li {
  margin-left: -15px;
  padding-bottom: 10px;
  filter: brightness(100);
  font-weight: bold;
  text-decoration: none;
}
.footer-resto i {
  margin-right: 10px;
}
.footer-resto a {
  text-decoration: none;
}
.footer-resto .info {
  gap: 20px;
}

.footer-note {
  top: 180%;
}

@-moz-document url-prefix() {
  .footer-resto {
    top: 190%;
  }
  .footer-note {
    top: 180%;
  }
}
@media (min-width: 768px) {
  .footer-resto {
    top: 202%;
  }
  .footer-note {
    top: 198%;
  }
  @-moz-document url-prefix() {
    .footer-resto {
      top: 218%;
    }
    .footer-note {
      top: 200%;
    }
  }
}
@media (min-width: 1024px) {
  .footer-resto {
    top: 225%;
  }
  .footer-note {
    top: 205%;
  }
  @-moz-document url-prefix() {
    .footer-resto {
      top: 218%;
    }
    .footer-note {
      top: 208%;
    }
  }
}
@media (min-width: 1440px) {
  .footer-resto {
    position: absolute;
    top: 208%;
    left: 0;
    background-color: #353535;
    width: 100%;
  }
  .footer-resto ul {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 330px;
    margin-top: 30px;
  }
  .footer-resto .logo-footer {
    margin-left: 90%;
    margin-bottom: -51px;
  }
  .footer-resto .icon .fa-utensils {
    position: absolute;
    right: 170px;
    justify-content: space-around;
  }
  @-moz-document url-prefix() {
    .footer-resto {
      top: 218%;
    }
    .footer-note {
      top: 200%;
    }
  }
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F6F6F6;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.2509803922);
}
header a img {
  width: 140px;
  margin-bottom: 10px;
}

.icon-loc {
  margin-right: 15px;
  color: #353535;
}

.title-intro {
  margin-top: 125px;
  font-size: 24px;
}

.txt-intro {
  margin-top: 10px;
  font-size: 18px;
}

.text-loc {
  display: flex;
  justify-content: center;
  padding-left: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eaeaea;
  margin-top: 45px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.2509803922);
}
.text-loc input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  color: #353535;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-resto {
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  width: 218px;
  height: 50px;
  font-size: 16px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn-resto:hover {
  opacity: 0.85;
  transition: all 0.2s ease-in-out;
}

.fonct {
  padding-top: 20px;
  margin-top: 50px;
  background-color: #ffffff;
  width: 100%;
  height: 420px;
}
.fonct .btn-container {
  display: grid;
  gap: 20px;
}
.fonct .choice-btn {
  display: grid;
  grid-template-columns: auto 1fr;
  border: none;
  width: 90%;
  height: 75px;
  align-items: center;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.2509803922);
}
.fonct .fa-solid {
  opacity: 0.8;
}
.fonct .fa-solid:hover {
  opacity: 1;
  background-clip: text;
  background-color: #9356DC;
}
.fonct .icon-fonct {
  justify-self: center;
  margin-right: -60px;
  font-size: 20px;
  color: #7e7e7e;
}
.fonct .icon-fonct:hover {
  opacity: 2;
  color: #9356DC;
  transition: 5ms;
}
.fonct .number {
  color: white;
  background-color: #9356DC;
  position: absolute;
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  margin-left: -20px;
  font-size: 13px;
}

.title-h2 {
  margin-left: 15px;
}

.card-container {
  margin-bottom: 50px;
  margin-top: 55px;
}
.card-container h3 {
  margin-top: 200px;
  position: relative;
  margin-left: 15px;
  line-height: 0px;
  font-size: 18px;
}
.card-container .__new {
  background-color: #99E2D0;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  font-size: 14px;
  color: #008766;
}
.card-container i {
  position: absolute;
  margin-top: 165px;
  margin-right: 20px;
  font-size: 25px;
  top: 10%;
  right: 0%;
}
.card-container i.fa-solid {
  opacity: 0;
  color: #FF79DA;
}
.card-container i.fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
  animation: fadeInn 1s, fadeOutt 1s 2s;
}
@keyframes fadeInn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutt {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.card-container i:not(.fa-solid:hover) {
  animation: fadeOut 1s backwards;
}
.card-container .card {
  background-color: white;
  height: 250px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
  margin-left: 10px;
  margin-right: 8px;
  overflow: hidden;
  position: relative;
}
.card-container .vertical-image h3 {
  margin-top: 196px;
}
.card-container .vertical-image img {
  width: 100%;
  height: 92%;
  left: 0;
}
.card-container img {
  width: 101%;
  height: 230px;
  position: absolute;
  top: -57px;
  left: -3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.card-container .card-resto {
  display: grid;
  gap: 20px;
}
.card-container p {
  margin-left: 15px;
  line-height: 15px;
  font-size: 17px;
}

footer {
  top: 250%;
}

@-moz-document url-prefix() {
  .btn-resto:active, .btn-resto:focus {
    opacity: 0.85;
  }
  .icon-fonct {
    position: relative;
    padding: 20px;
  }
  .icon-fonct:active {
    opacity: 1;
    color: #9356DC;
  }
  .card-container {
    position: relative;
  }
  .card-container .fa-solid {
    opacity: 0;
  }
  .card-container .fa-solid:active {
    color: #9356DC;
    opacity: 1;
  }
}
/***** MEDIA QUERIES ******/ /**** TABLETTE ****/
@media (min-width: 768px) {
  body {
    margin: 0;
  }
  .break-word {
    display: none;
  }
  header a img {
    width: 200px;
    height: 35px;
  }
  .text-loc {
    margin-top: 68px;
    padding: 12px;
  }
  .intro {
    padding-top: 50px;
  }
  .intro .title-intro {
    font-size: 40px;
  }
  .fonct {
    height: 240px;
    padding-bottom: 400px;
  }
  .btn-container {
    display: grid;
    gap: 30px;
    padding-left: 100px;
    padding-right: 125px;
  }
  .btn-container .choice-btn {
    display: grid;
    grid-template-columns: auto 1fr;
    border: none;
    width: 60%;
    border-radius: 20px;
    font-weight: bold;
    white-space: nowrap;
  }
  .btn-container .icon-fonct {
    margin-left: 10px;
  }
  .title-h2 {
    margin-left: 90px;
    margin-bottom: 35px;
  }
  .card-resto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 91%;
    padding-left: 80px;
  }
}
@media (min-width: 1024px) { /**** DESKTOP ****/
  body {
    margin: 0;
    width: 100%;
  }
  .break-word {
    display: none;
  }
  header a img {
    width: 200px;
    height: 35px;
  }
  .text-loc {
    margin-top: 68px;
    padding: 12px;
  }
  .intro {
    padding-top: 50px;
  }
  .intro .title-intro {
    font-size: 40px;
  }
  .fonct {
    padding-bottom: 25%;
  }
  .fonct .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-left: 90px;
    padding-right: 160px;
  }
  .fonct .btn-container .choice-btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
    width: 265px;
    height: 75px;
    border-radius: 20px;
    font-weight: bold;
    white-space: nowrap;
  }
  .fonct .btn-container .icon-fonct {
    margin-left: -60px;
  }
  .title-h2 {
    margin-left: 70px;
    margin-bottom: 35px;
  }
  .card-resto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 94%;
    padding-left: 60px;
  }
}
@media (min-width: 1440px) { /*** LARGE DESKTOP ***/
  body {
    margin: 0;
  }
  .break-word {
    display: none;
  }
  header a img {
    width: 200px;
    height: 35px;
  }
  .text-loc {
    margin-top: 68px;
    padding: 12px;
  }
  .intro {
    padding-top: 50px;
  }
  .intro .title-intro {
    font-size: 40px;
  }
  .fonct {
    height: 150px;
  }
  .btn-container {
    margin-left: 100px;
    padding-right: 120px;
  }
  .btn-container .choice-btn {
    width: 95px;
  }
  .btn-container .icon-fonct {
    margin-left: -80px;
  }
  .btn-resto {
    border: none;
    border-radius: 25px;
    color: white;
    background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
    width: 218px;
    height: 50px;
    font-size: 16px;
  }
  .btn-resto:hover {
    opacity: 0.85;
    transition: all 0.2s ease-in-out;
  }
  .title-h2 {
    margin-left: 160px;
    margin-bottom: 35px;
  }
  .card-resto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    padding-left: 150px;
  }
}/*# sourceMappingURL=style.css.map */