// variables// 

$primary-color: #936ADC;
$secondary-color: #FF79DA;
$shadow-color: #00000040;
$background-color-1: #F6F6F6;
$background-color-2: #ffffff;
$footer-color: #353535;
$btn-background: linear-gradient(357deg, $primary-color 0%, $secondary-color 100%);